/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*GENERAL*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}

.general{
    height: calc(100vh - 100px);
    display: flex;
}


/* ASIDE */
aside{
    width: 220px;
    background-color: #000000;
    color: #5A5A5A;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
}

aside .logo img{
    width: 80%;
    padding-bottom: 25px;
}

aside .mini-logo img{
    width: 120%;
    padding-bottom: 20px;
    display: none;
}

aside .menu > div{
    padding-bottom: 20px;
}

aside .menu{
    padding-bottom: 20px;
}

aside .menu .home:hover{
    color: white;
}

aside .menu .search:hover{
    color: white;
}

aside .menu .library:hover{
    color: white;
}

aside .menu > div{
    display: flex;
    align-items: center;
}

aside .menu div > div:first-child{
    margin-right: 10px;
}

aside .playlists{
    display: flex;
    flex-direction: column;
    height: 350px;
}

aside .playlists > .overflow-p{
    overflow-y: hidden;
}

aside .playlists .create-playlist{
    display: flex;
    align-items: center;
    padding: 20px 0;
}

aside .playlists .create-playlist div:hover{
    background-color: white;
    font-size: 30px;
}

aside .playlists .create-playlist:hover{
    color: white;
    
}

aside .playlists .plus-box{
    width: 45px;
    height: 45px;
    background-color: #A3A3A3;
    line-height: 45px;
    text-align: center;
    font-size: 35px;
    margin-right: 10px;
    color: black;
}

aside .playlists > div:first-child{
    color: white;
}

aside .playlists p{
    margin-bottom: 20px;
}

aside .playlists p:hover{
    color: white;
}

aside .aside-bottom{
    padding-top: 30px;
}

aside .aside-bottom .install,
aside .aside-bottom .user{
    display: flex;
    align-items: center;
}

aside .aside-bottom .install:hover,
aside .aside-bottom .user:hover{
    color: white;
}

aside .aside-bottom .install .arrow-down-square{
    width: 15px;
    height: 15px;
    border: 1px solid #5A5A5A;
    background-color: black;
    color: #5A5A5A;
    line-height: 15px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}

aside .aside-bottom .install .arrow-down-square:hover{
    color: white;
    border: 1px solid white;
}

aside .aside-bottom hr{
    margin: 15px 0;
}

aside .aside-bottom .user > div:first-child{
    margin-right: 10px;
}


/* MAIN */
main{
    width: calc(100% - 220px);
    height: 100%;
    background-color: #141922;
    z-index: 0;
}

header{
    height: 100px;
    width: calc(100% - 220px);
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

header .plan{
    display: flex;
    justify-content: right;
}

header .plan button{
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    padding: 12px 30px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 30px;
}

header .plan button:hover{
    padding: 15px 40px;
}

.music-content{
    height: 100%;
    overflow: auto;
    padding: 120px 30px;
}

.music-content nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.music-content nav ul li{
    margin: 0 20px;
}

.music-content nav ul li a{
    color: #797B80;
}

.music-content nav ul li a:hover{
    color: white;
}

.music-content .my-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.music-content h2{
    padding-top: 30px;
    color: white;
}

.music-content .my-row .card{
    width: calc((100% / 6) - 20px);
    padding: 25px 0;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.music-content .my-row .card img{
    width: 100%;
    height: 100%;
}

.music-content .my-row .card .img-box{
    position: relative;

}

.music-content .my-row .card .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.music-content .my-row .card .overlay .pause,
.music-content .my-row .card .special-overlay .pause{
    color: white;
}

.music-content .my-row .card .img-box:hover .overlay{
    opacity: 1;
}

.music-content .my-row .card h3:hover,
.music-content .my-row .card > p:hover{
    text-decoration: underline;
}

.music-content .my-row .card h3{
    color: white;
    padding: 20px 0;
    text-align: center;
}

.music-content .my-row .card > p{
    color:#5A5A5A;
}

#speciale{
    color:#5A5A5A;
    padding: 15px 0;
}

#squared-img img{
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.music-content .my-row .card .special-overlay{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.music-content .my-row .card .img-box:hover .special-overlay{
    opacity: 1;
}


/* FOOTER */
footer{
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    width: 100vw;
}

footer .song-box{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

footer .song-box .song-image{
    width: 50%;
}

footer .song-box .song-image img{
    width: 100%;
    object-fit: cover;
}

footer .song-box .song-infos{
    margin-left: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .song-box .song-infos .artist{
    width: 20%;
}

footer .song-box .song-infos .artist > p{
    color: #5A5A5A;
}

footer .song-box .song-infos .artist > p:hover{
    color: white;
    text-decoration: underline;
}

footer .song-box .song-infos .like-and-save{
    padding-left: 50px;
}

footer .song-box .song-infos .like-and-save br{
    display: none;
}

footer .song-box .song-infos .like-and-save span{
    color: #5A5A5A;
    padding-left: 15px;
}

footer .song-box .song-infos .like-and-save span:hover{
    color: white;
}

footer .song-box .song-infos .like-and-save span{
    margin-right: 7px;
}

footer .volume{
    padding-right: 10px;
}

footer .volume .settings-box{
    display: flex;
    align-items: center;
}

footer .volume .settings-box span{
    margin: 0 10px;
}

footer .volume .settings-box .volume-bar-100{
    background-color: #5A5A5A;
    width: 200px;
    height: 5px;
    border-radius: 20px;
    margin-left: 20px;
}

footer .track-bar-music .play-music{
    display: flex;
    align-items: center;
}

footer .volume .volume-icons {
    width: 50%;
    text-align: right;
}

footer .volume .settings-box .volume-bar-100 .volume-bar-20{
    background-color: #C1C1C1;
    width: 40px;
    height: 100%;
    border-radius: 20px;
    position: relative;
}

footer .track-bar-music .play-music .volume-bar-100 .square, 
footer .volume .settings-box .volume-bar-100 .square{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: none;
}

footer .track-bar-music .play-music .volume-bar-100 .volume-bar-20:hover, 
footer .volume .settings-box .volume-bar-100 .volume-bar-20:hover{
    background-color: greenyellow;
}

footer .track-bar-music .play-music .volume-bar-100 .volume-bar-20:hover .square,
footer .volume .settings-box .volume-bar-100 .volume-bar-20:hover .square{
    display: block;
} 

footer .track-bar-music .track-commands{
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .track-bar-music span{
    padding: 0 30px;
}

footer .track-bar-music .play-music .volume-bar-100{
    background-color: #5A5A5A;
    width: 400px;
    height: 5px;
    border-radius: 20px;
}

footer .track-bar-music .play-music .volume-bar-100 .volume-bar-20{
    background-color: #C1C1C1;
    width: 80px;
    height: 100%;
    border-radius: 20px;
    position: relative;
}

footer .track-bar-music .track-commands i:nth-child(3):hover{
    color: lightgreen;
}


/* MEDIA QUERIES */

/* Small Desktop */
@media screen and (max-width: 1100px){

    .music-content .my-row .card{
        width: calc((100% / 4) - 20px);
    }

    footer .volume .volume-icons {
        width: 50%;
    }

    .music-content nav ul li{
        margin: 20px;
    }

    header .plan button{
        margin: 30px 20px;
    }

    footer .track-bar-music .play-music .volume-bar-100{
        width: 200px;
    }

    footer .volume .settings-box .volume-bar-100{
        width: 100px;
    }

    footer .song-box .song-image img{
        width: 70%;
        object-fit: cover;
    }
}


/* Tablet */
@media screen and (max-height: 700px){

    aside .playlists > .overflow-p{
        overflow-y: auto;
    }
}


@media screen and (max-width: 700px){

    aside{
        width: 180px;
    }

    main,
    header{
        width: calc(100% - 180px);
    }

    .music-content .my-row .card{
        width: calc((100% / 2) - 20px);
    }

    .music-content nav ul li{
        margin: 20px 10px;
    }

    header .plan button{
        margin: 30px 10px;
    }

    footer{
        font-size: smaller;
    }

    footer .track-bar-music .play-music .volume-bar-100{
        width: 100px;
    }

    footer .track-bar-music .play-music .volume-bar-100 .volume-bar-20{
        width: 40px;
    }

    footer .volume .settings-box .volume-bar-100{
        width: 50px;
    }

    footer .volume .settings-box .volume-bar-100 .volume-bar-20{
        width: 20px;
    }

    footer .song-box .song-infos .like-and-save{
        padding-left: 25px;
    }
    
    footer .song-box .song-infos .like-and-save span{
        color: #5A5A5A;
        padding-left: 1px;
    }

    footer .song-box .song-infos .like-and-save span{
        margin-right: 1px;
    }
    
    footer .volume .volume-icons {
        width: 80%;
    }

    footer .song-box .song-infos .like-and-save br{
        display: block;
    }
}


/* Mobile */
@media screen and (max-width: 600px){

    aside{
        width: 60px;
    }

    aside .aside-top .logo{
        display: none;
    }

    aside .aside-top .menu .home span,
    aside .aside-top .menu .search span,
    aside .aside-top .menu .library span{
        display: none;
    }

    aside .aside-top .playlists{
        display: none;
    }

    aside .aside-bottom .install span,
    aside .aside-bottom .user span,
    aside .aside-bottom span hr{
        display: none;
    }

    aside .mini-logo img{
        display: block;
    }

    aside .aside-bottom .install .arrow-down-square{
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-bottom: 20px;
        
        flex-shrink: 0;
    }

    main,
    header{
        width: calc(100% - 60px);
    }

    .music-content nav ul li{
        margin: 20px 7px;
    }

    footer .volume .volume-icons {
        width: 100%;
    }

    footer .track-bar-music .play-music .volume-bar-100 .volume-bar-20{
        width: 20px;
    }

    footer .volume .settings-box .volume-bar-100 .volume-bar-20{
        width: 10px;
    }
}